/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("assets/imaged/428991.jpg");
    height: 872px;
    z-index: -1;
}