.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/mac.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 20px;
}

.home-title {
    font-size: 25px;
}